@import url("https://use.typekit.net/kww5wvv.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
    font-family: "canto", serif;
    font-size: 16px;
    background: #fff;
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
}
textarea {
    resize: none;
}

/******************header*****************/
.banner {
    max-width: 1920px;
    width: 100%;
    display: flex;
    border-top: 1px solid #d7d7d7;
    &__main {
        max-width: 1648px;
        width: 100%;
        background: url(../assets/img/main/home.png) no-repeat 50% 0;
        background-size: cover;
        height: 366px;
        display: flex;
        justify-content: center;
        align-items: center;
        &--text {
            font-size: 62px;
            color: #ffffff;
            font-weight: bold;
            font-family: "Canto";
            text-align: right;
            text-transform: uppercase;
            margin-top: -7px;
        }
    }
    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__logo {
        margin: 35px 20px;
    }
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1648px;
    margin: 0 auto;
    width: 100%;

    &__company--name {
        font-size: 36px;
        color: #616161;
        font-weight: 300;
        padding: 25px 0 0 0;
        margin: 0;
    }
}
.nav {
    &__list {
        display: flex;
        flex-direction: row;
        list-style: none;
        &--item {
            padding: 0 15px;
        }
        &--link {
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: #9f9f9f;
            font-weight: 200;
            text-transform: uppercase;
            &:hover {
                font-weight: 300;
                color: #3c3c3c;
            }
        }
    }
}
/**********************text section************************************/
.text {
    max-width: 825px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    position: relative;
    top: -130px;
    margin-bottom: -130px;
    min-height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__title {
        font-size: 36px;
        color: #424242;
        font-weight: 300;
        font-family: "Canto";
        text-align: center;
        margin-bottom: 0;
        &::after {
            display: block;
            content: "";
            height: 1px;
            background: #4242423b;
            margin: 0 189px;
        }
    }
    &__description {
        width: 750px;
        height: 128px;
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 24px;
        color: #474747;
        font-weight: 300;
        font-family: "Roboto";
        text-align: center;
    }
}
/**********************form************************************************/

.contact {
    max-width: 1091px;
    width: 100%;
    margin: 0 auto;
    &__description {
        font-size: 13px;
        letter-spacing: 0px;
        line-height: 24px;
        color: #474747;
        font-weight: 300;
        font-family: "Roboto";
        text-align: left;
    }
    &__budget {
        display: flex;
        flex-direction: column;
        &--title {
            font-size: 15px;
            color: #424242;
            font-weight: 300;
            font-family: "Roboto";
        }
        &--radio {
            display: flex;
            flex-direction: row;
        }
        &--title {
            font-size: 13px;
            color: #424242;
            font-weight: 300;
            font-family: "Roboto";
        }
        &--item {
            display: flex;
            align-items: flex-start;
        }
        &--label {
            margin-left: 5px;
            font-size: 13px;
            color: #424242;
            font-weight: 300;
            font-family: "Roboto";
        }
    }
    &__data {
        margin-top: 35px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1091px;
        width: 100%;
        &--item {
            display: flex;
            flex-direction: column;
        }
        &--label {
            font-size: 15px;
            color: #424242;
            font-weight: 300;
            font-family: "Roboto";
            margin-bottom: 10px;
        }
        &--input {
            height: 36px;
            max-width: 332px;
            width: 100%;
            height: 36px;
            background-color: #ffffff;
            border: 1px solid #d0d0d0;
        }
    }
    &__title {
        font-size: 36px;
        color: #424242;
        font-weight: 300;
        font-family: "Canto";
        text-align: center;
        filter: drop-shadow(0 0 10.5px rgba(0, 0, 0, 0.54));
    }
    &__form {
        &--row {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    &__file {
        &--form {
            display: flex;
        }
        &--button {
            max-width: 150px;
            width: 100%;
            height: 35px;
            background: #75bdc8;
            font-size: 18px;
            color: #ffffff;
            font-weight: 400;
            font-family: "Roboto";
            border: none;
            &:hover {
                background: #29b4c9;
            }
        }

        &--label {
            font-size: 13px;
            color: #424242;
            font-weight: 300;
            font-family: "Roboto";
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 25px;
        }
    }
    &__message {
        &--label {
            font-size: 15px;
            color: #424242;
            font-weight: 300;
            font-family: "Roboto";
            margin-bottom: 10px;
        }
        &--textarea {
            max-width: 505px;
            width: 100%;
            min-height: 126px;
            border-color: #d0d0d0;
        }
    }
    &__permission {
        margin-top: 30px;
        margin-bottom: 25px;
        &--label {
            font-size: 13px;
            color: #424242;
            font-weight: 300;
            font-family: "Roboto";
        }
        &--link {
            color: #5dc6d6;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__submit {
        &--button {
            width: 183px;
            height: 49px;
            background-color: #29b4c9;
            border: none;
            color: #fff;
            &:hover {
                background: #75bdc8;
            }
        }
    }
}
.select {
    display: flex;
    flex-direction: column;
    max-width: 520px;
    width: 100%;
    &__label {
        font-size: 15px;
        color: #424242;
        font-weight: 300;
        font-family: "Roboto";
        margin-bottom: 10px;
    }
    &__list {
        height: 35px;
        border-color: #d0d0d0;
        color: #d0d0d0;
        margin-bottom: 30px;
        padding: 0 10px;
    }
    &__item {
        color: #424242;
    }
}
/*********************************footer*****************************************/
.footer {
    margin-top: 100px;
    background: #434343;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__copyright--text {
        font-size: 15px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Roboto";
    }
    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;

        &--link {
            text-decoration: none;
            font-size: 15px;
            color: #ffffff;
            font-weight: 300;
            font-family: "Roboto";
            padding: 0 10px;
            &:hover {
                color: #29b4c9;
            }
        }
        &--line {
            border-right: 1px solid #fff;
            height: fit-content;
        }
    }
}
.parallax__button:hover {
    background: #29b4c9ed;
}
