.banner {
    &__main {
        background: url(../assets/img/price-examples/gallery_slider.png) no-repeat 50% 0 !important;
        height: 183px;
    }
}
.text__title::after {
    display: block;
    content: "";
    height: 1px;
    background: #4242423b;
    margin: 0px 60px;
}
.text-content {
    max-width: 1091px;
    width: 100%;
    margin: 0 auto;
    &__title {
        font-size: 30px;
        color: #424242;
        font-weight: 300;
        font-family: "Canto";
        filter: drop-shadow(0 0 10.5px rgba(0, 0, 0, 0.54));
        &::after {
            display: block;
            content: "";
            height: 1px;
            background: #4242423b;
            width: 10%;
        }
    }
    &__description {
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 24px;
        color: #474747;
        font-weight: 300;
        font-family: "Roboto" !important;
        text-align: left;
        margin-bottom: 45px;
    }
}
.product-container {
    max-width: 1920px;
    width: 100%;
    &--bg {
        background: #f3f3f3;
    }
}
.product {
    max-width: 1091px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 340px 1fr;

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        &--img {
            max-width: 200px;
            width: 100%;
            max-height: 280px;
            height: 100%;
        }
    }
    &__name {
        font-size: 21px;
        color: #29b4c9;
        font-weight: 300;
        font-family: "Roboto";
        text-transform: uppercase;
        padding: 0;
        margin-top: 35px;
    }
    &__price {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 24px;
        color: #000000;
        font-weight: 300;
        font-family: "Roboto";
        text-align: left;
        &--value {
            font-size: 25px;
            font-weight: 500;
            margin-top: 35px;
        }
    }
    &__description {
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 24px;
        color: #7f7f7f;
        font-weight: 300;
        font-family: "Roboto";
        text-align: left;
        margin-top: 50px;
    }
    &__button {
        margin-top: 50px;
        background: none;
        font-size: 16px;
        color: #29b4c9;
        font-weight: 300;
        font-family: "Roboto";
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        &:hover {
            color: #3c3c3c;
        }

        &--less {
            display: none;
        }
    }
    &__speciall-container {
        display: none;
    }

    &__speciall {
        border-top: 1px solid #4242423b;
        max-width: 1091px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        &--little {
            display: grid;
            grid-template-columns: 30% 1fr;
        }
        &--title {
            margin-top: 40px;
            font-size: 15px;
            letter-spacing: 0px;
            line-height: 24px;
            color: #474747;
            font-weight: 400;
            font-family: "Roboto";
            text-align: left;
        }
        &--name {
            margin: 0;
            font-weight: 100;
        }
        &--description {
            margin: 60px auto;
            max-width: 1091px;
            width: 100%;
            font-size: 15px;
            letter-spacing: 0px;
            line-height: 24px;
            color: #474747;
            font-weight: 300;
            font-family: "Roboto";
            text-align: left;
        }
    }
}
.show {
    display: block;
}

.hide {
    display: none;
}
.product-container--bg .product__speciall-container {
    padding-bottom: 1px;
}
.parallax {
    margin-top: 60px;
    max-width: 1920px;
    width: 100%;
    background: url(../assets/img/projects-gallery/gallery_slider_bottom.png);
    min-height: 334px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__title {
        margin-top: 75px;
        font-size: 36px;
        color: #fefefe;
        font-weight: 300;
        font-family: "Canto";
        text-align: center;
        margin: 0 0 30px 0;
    }
    &__description {
        font-size: 16px;
        color: #fefefe;
        font-weight: 300;
        font-family: "Roboto";
        text-align: center;
        margin: 0 0 60px 0;
    }
    &__button {
        width: 183px;
        height: 50px;
        font-size: 21px;
        line-height: 24px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Roboto";
        text-align: center;
        text-decoration: none;
        background: #29b4c9;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.projects {
    max-width: 1091px;
    width: 100%;
    margin: 0 auto;
    &__title {
        font-size: 30px;
        color: #424242;
        font-weight: 300;
        font-family: "Canto";
        filter: drop-shadow(0 0 10.5px rgba(0, 0, 0, 0.54));
        width: 100%;
        border-bottom: 1px solid #4242423b;
    }
    &__images {
        &--img {
            margin-right: 1px;
        }
    }
}
.morePlus {
    display: block;
    font-size: 34px;
    font-weight: 400;
    margin-left: 33px;
    color: #29b4c9;
    margin-top: 14px;
}
.button__container {
    display: flex;
    align-items: center;
}
.morePlus:hover {
    color: #3c3c3c;
}
