.banner {
    &__main {
        background: url(../assets/img/price-examples/gallery_slider.png) no-repeat 50% 0;
        height: 183px;
    }
}
.categories {
    max-width: 1091px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}
.text {
    top: -106px;
    margin-bottom: -143px;
    min-height: 77px;
    &__title {
        &::after {
            margin: 0px auto;
        }
    }
}
.categorie {
    display: grid;
    grid-template-columns: 1fr 320px;
    margin-bottom: 80px;
    &::after {
        display: block;
        content: "";
        height: 1px;
        width: 140%;
        background: #d2d2d2;
        margin-top: 40px;
        position: relative;
    }
    &__title {
        font-size: 30px;
        color: #424242;
        font-weight: 300;
        font-family: "Canto";
        margin-bottom: 50px;
        &::after {
            content: "";
            display: block;
            height: 1px;
            background: #d2d2d2;
            width: 130px;
        }
    }
    &__description {
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 24px;
        color: #474747;
        font-weight: 300;
        font-family: "Roboto";
        text-align: left;
        margin-bottom: 25px;
        max-width: 751px;
        width: 100%;
    }
    &__readMore {
        padding: 10px 25px;
        text-decoration: none;
        background-color: #ffffff;
        border: 1px solid #a0a0a0;
        font-size: 21px;
        line-height: 24px;
        color: #9f9f9f;
        font-weight: 300;
        font-family: "Roboto";
        text-align: center;
        &:hover {
            background: #29b4c9;
            color: #ffffff;
            border-color: #29b4c9;
        }
    }
    &__image {
        &--img {
            max-width: 300px;
            width: 100%;
            max-height: 200px;
            height: 100%;
        }
    }
}
.more {
    max-width: 1091px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1200px) {
    .categories {
        max-width: 825px;
        &__description {
            max-width: 380px;
            text-align: justify;
        }
    }
    .categorie::after {
        width: 160%;
    }
}
@media (max-width: 991px) {
    .categorie:first-of-type::after {
        display: none;
    }
    .categories {
        max-width: 610px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .categorie {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 40px;
        &::after {
            width: 100%;
        }

        &__image {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
        }
        &__description {
            max-width: 585px;

            text-align: justify;
        }
        &::after {
            width: 100%;

            margin-top: 0px;
        }
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__title {
            &::after {
                margin: 0 auto;
            }
        }
    }
    .more {
        max-width: 585px;
        flex-direction: column;
        &::before {
            display: block;
            content: "";
            height: 1px;
            width: 100%;
            background: #d2d2d2;
            margin-bottom: 40px;
            position: relative;
        }
    }
    .text {
        top: 0px;
        margin-bottom: -133px;
        min-height: 26px;
    }
}
@media (max-width: 767px) {
    .text {
        top: 0 !important;
        margin-bottom: -150px !important;
        position: inherit;
        min-height: 77px !important;
    }
    .categorie__description {
        max-width: 425px;
        text-align: justify;
    }
    .categorie__title {
        text-align: center;
    }
    .categorie__title::after {
        width: 60%;
        margin: 0 auto;
    }
    .more {
        max-width: 425px;
    }
}

@media (max-width: 485px) {
    .more {
        max-width: 300px;
    }
    .categorie__description {
        max-width: 300px;
        text-align: justify;
    }
    .categorie__title {
        font-size: 24px;
    }
    .text {
        margin-bottom: -125px;
        &__title {
            &::after {
                margin: 0px 81px;
            }
        }
    }
}
