.banner {
    &__main {
        background: url(../assets/img/projects-gallery/gallery_slider.png) no-repeat 50% 0;
        height: 183px;
    }
}

.text-content {
    max-width: 1091px;
    width: 100%;
    margin: 0 auto;
    &__title {
        font-size: 30px;
        color: #424242;
        font-weight: 300;
        font-family: "Canto";
        filter: drop-shadow(0 0 10.5px rgba(0, 0, 0, 0.54));
        &::after {
            display: block;
            content: "";
            height: 1px;
            background: #4242423b;
            margin: 0px 0;
            width: 12%;
        }
    }
    &__description {
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 24px;
        color: #474747;
        font-weight: 300;
        font-family: "Roboto";
        text-align: left;
    }
}
.gallery {
    margin: 0 70px;
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas:
            "image-1ab image-23a image-23a image-4a image-56ab  image-56ab"
            "image-1ab image-2b image-3b image-4b  image-56ab  image-56ab"
            "image-1c image-23cd image-23cd image-6c image-45cd image-45cd  "
            "image-1d image-23cd image-23cd image-6d image-45cd image-45cd  ";
    }
    &__title {
        max-width: 1091px;
        width: 100%;
        margin: 0 auto;

        font-size: 30px;
        color: #424242;
        font-weight: 300;
        font-family: "Canto";
        filter: drop-shadow(0 0 10.5px rgba(0, 0, 0, 0.54));
        &::after {
            content: "";
            height: 1px;
            background: #4242423b;
            display: block;
            margin-bottom: 30px;
        }
    }
    &__image {
        box-sizing: border-box;
        transition: all 0.2s linear;
    }
    &__image:hover {
        filter: greyscale(100%);
        transform: scale(1.001);
    }
}

.parallax {
    margin-top: 60px;
    max-width: 1920px;
    width: 100%;
    background: url(../assets/img/projects-gallery/gallery_slider_bottom.png);
    min-height: 334px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__title {
        margin-top: 75px;
        font-size: 36px;
        color: #fefefe;
        font-weight: 300;
        font-family: "Canto";
        text-align: center;
        margin: 0 0 30px 0;
    }
    &__description {
        font-size: 16px;
        color: #fefefe;
        font-weight: 300;
        font-family: "Roboto";
        text-align: center;
        margin: 0 0 60px 0;
    }
    &__button {
        width: 183px;
        height: 50px;
        font-size: 21px;
        line-height: 24px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Roboto";
        text-align: center;
        text-decoration: none;
        background: #29b4c9;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.projects {
    max-width: 1091px;
    width: 100%;
    margin: 0 auto;
    &__title {
        font-size: 30px;
        color: #424242;
        font-weight: 300;
        font-family: "Canto";
        filter: drop-shadow(0 0 10.5px rgba(0, 0, 0, 0.54));
        width: 100%;
        border-bottom: 1px solid #4242423b;
    }
    &__images {
        &--img {
            margin-right: 1px;
        }
    }
}

.text {
    top: -231px;
    margin-bottom: -201px;
    min-height: 77px;
    &__title {
        padding-top: 35px;
    }
}
.image-1ab {
    grid-area: image-1ab;
}
.image-1ab .gallery__image {
    width: 95%;
    height: 90%;
}
.image-1c {
    grid-area: image-1c;
}
.image-1d {
    grid-area: image-1d;
}
.image-2b {
    grid-area: image-2b;
}
.image-3b {
    grid-area: image-3b;
}
.image-4a {
    grid-area: image-4a;
}
.image-4b {
    grid-area: image-4b;
}
.image-6c {
    grid-area: image-6c;
}
.image-6d {
    grid-area: image-6d;
}
.image-23a {
    grid-area: image-23a;
}
.image-23cd {
    grid-area: image-23cd;
}
.image-45cd {
    grid-area: image-45cd;
}
.image-56ab {
    grid-area: image-56ab;
}
